#!/bin/bash
# エラーで止める
set -e

# fisher がインストールされていないならインストール
if ! command -v fisher >/dev/null 2>&1; then
    echo "Installing fisher..."
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
fi

# fish_plugins に基づいてプラグイン更新
echo "Running fisher update..."
fish -c "fisher update"
